{%extends "base.html" %} 

{%load static%}


{%block title%}
    NOW | {{type}}
{%endblock%}



{%block content%}

{%include workoutHTML%}
<h2 class="workout-detail-header">EXERCISES IN THIS WORKOUT</h2>

<div class="workout-detail-grid">
    {%for exercise in exercises%}
    <div class="workout-detail-content">
        <img class="workout-detail-image" src="{{exercise.image}}"/>
        <div class="workout-content">
            <h2 class="workout-detail-exercise">{{exercise.name}}</h2>
            <hr>
            <p class="workout-detail-information">{{exercise.description}}</p>    
        </div>
    </div>
    {%endfor%}

{%endblock%}


