* {
    padding: 0;
    margin: 0; 
  }
  
body {
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover{
    color: green !important; 
}



/* Home Page */
.homevideo{
    width: 100vw;
}

video {
    width: 100vw; 
    width: 100%; 
    display:block;
}


.home-main-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-column-gap: 30px; 
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px; 
    grid-template-areas: ". gridhead gridhead gridhead ."
                         ". griditem1 griditem2 griditem3 ."
                         " . griditem1pic griditem2pic griditem3pic .";
    background-color: gray; 
    text-align: center; 
    width: 100vw; 
}

.home-grid-header{
    grid-area: gridhead; 
    margin-top: 30px;
}

.home-grid-item1{
    grid-area: griditem1;
}

.home-grid-item2{
    grid-area:griditem2; 
}

.home-grid-item3{
    grid-area:griditem3; 
}

.home-grid-item1pic{
    grid-area: griditem1pic;
}

.home-grid-item1pic i,
.home-grid-item2pic i,
.home-grid-item3pic i {
    font-size: 150px; 
}

.home-grid-item2pic{
    grid-area:griditem2pic;
}

.home-grid-item3pic{
    grid-area:griditem3pic; 
}

.call-to-action{
    text-align: center;
    background-color: beige;
    padding: 100px; 
    width: 100vw; 
}

footer{
    height: 100%;
    background-color: navy;
    width: 100vw; 
}
footer ul{
    text-align: center;  
    padding: 50px; 
    width: 100vw;
}
footer ul li{
    color: white; 
}
footer ul li a{
    color: white; 
    text-decoration: none;  
    font-size: 22px; 
}

footer ul li a:hover{
    font-size: 30px; 
}

/* Admin Workout Page */
.premade-header-header{
    text-align: center;
    padding: 40px; 
}
.premade-workout{
    display: grid;
    grid-template-columns: repeat(1fr 2fr 2fr 2fr 1fr); 
    grid-template-areas: ". premadeinfo premadeinfo2 premadeinfo3 .";
    column-gap: 80px; 
    width: 100vw; 
    justify-content: center;
    align-content: center; 
    justify-items: center;
    align-items: center; 
}

.premade-workout-info{
    width: 100%;
    height:100%;
}

.premade-workout-info img{
    width: 100%;
    height: 800px; 
}
.premade-workout-info:nth-child(1){
    grid-area: premadeinfo;
    text-align: center; 
}


.premade-workout-info:nth-child(2){
    grid-area: premadeinfo2;
    text-align: center; 
}

.premade-workout-info:nth-child(3){
    grid-area: premadeinfo3;
    text-align: center; 
}

.premade-workout-info2{
    background-color:black;
    color: white;
    padding: 25px;
}
.premade-workout-info2 h2{
    font-size: 30px;
    font-weight:bolder;
}

.premade-workout-info p{
    font-size: 24px; 
}