{%extends 'base.html' %}
{%load static%}

{%block js_files%}
<script src="{%static 'scripts/entryTable.js'%}" defer></script>
{%endblock%}

{%block title%}NOW! - Tracker{%endblock%}

{%block content%}
<div id="filters">
  <input type="text" id="dateQuery" onkeyup="dateFunction()" placeholder="Search by Date..">
  <input type="text" id="exerciseQuery" onkeyup="exerciseFunction()" placeholder="Search by Exercise..">
</div>
<table id="entryTable">
  <tr class="table_header">
    <th>Entry Date</th>
    <th>Exercise</th>
    <th>set1</th>
    <th>set2</th>
    <th>set3</th>
    <th>set4</th>
    <th>set5</th>
  </tr>
{%for entry in user_entries%}
  <tr>
    <td>{{entry.tracker.date_custom}}</td>
    <td>{{entry.exercise}}</td>
    <td>{{entry.set_one}}</td>
    <td>{{entry.set_two}}</td>
    <td>{{entry.set_three}}</td>
    <td>{{entry.set_four}}</td>
    <td>{{entry.set_five}}</td>
  </tr>
{%endfor%}
</table>
{%endblock%}